
a {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

@keyframes autofill {
  to {
    background: transparent;
  }
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

#h1 {
  font-weight: 300;
  font-size: 93px;
  letter-spacing: -1.5px;
  line-height: 112px;
  text-transform: none;
}

#h2 {
  font-weight: 300;
  font-size: 58px;
  letter-spacing: -0.5px;
  line-height: 72px;
  text-transform: none;
}

#h3 {
  font-weight: 400;
  font-size: 46px;
  letter-spacing: 0px;
  line-height: 56px;
  text-transform: none;
}

#h4 {
  font-weight: 400;
  font-size: 33px;
  letter-spacing: 0.25px;
  line-height: 36px;
  text-transform: none;
}

#h5 {
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 24px;
  text-transform: none;
}

#h6 {
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.15px;
  line-height: 24px;
  text-transform: none;
  color: #c69963;
}

#subtitle-1 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 24px;
  text-transform: none;
}

#subtitle-2 {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-transform: none;
}

#body-1 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: none;
}

#body-2 {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: none;
}

#button-1 {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-transform: uppercase;
}

#button-2 {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-transform: uppercase;
}

#caption {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: none;
}

#overline {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
}

.btn-pri {
  border: 1px solid #F2B600;
  background-color: #F2B600;
  color: #000;
}

.btn-pri:hover, .btn-pri:active {
  border: 1px solid #F3BB0F;
  background-color: #F3BB0F;
  color: #000;
}

.btn-pri:focus {
  border: 1px solid #FFCC32;
  background-color: #FFCC32;
  color: #000;
}

.btn-pri-dis {
  border: 1px solid rgba(255, 197, 19, 0.3);
  background-color: rgba(255, 197, 19, 0.3);
  color: #c69963;
  cursor: not-allowed;
}

.btn-pri-icn {
  border: 0px 0px 0px 1px inset #c69963;
  background-color: #c69963;
  color: #000;
}

.btn-pri-icn:hover, .btn-pri-icn:active {
  border: 0px 0px 0px 1px inset #F3BB0F;
  background-color: #F3BB0F;
  color: #000;
}

.btn-pri-icn:focus {
  border: 0px 0px 0px 1px inset #FFCC32;
  background-color: #FFCC32;
  color: #000;
}

.btn-pri-icn-dis {
  border: 0px 0px 0px 1px inset rgba(255, 197, 19, 0.3);
  background-color: rgba(255, 197, 19, 0.3);
  color: #c69963;
  cursor: not-allowed;
}

.btn-sec {
  border: 1px solid #F2B600;
  background-color: transparent;
  color: #F2B600;
}

.btn-sec:hover, .btn-sec:active {
  border: 1px solid #F2B600;
  background-color: rgba(255, 197, 19, 0.16);
  color: #F2B600;
}

.btn-sec:focus {
  border: 1px solid #F2B600;
  background-color: rgba(255, 197, 19, 0.3);
  color: #F2B600;
}

.btn-sec-dis {
  border: 1px solid rgba(242, 182, 0, 0.6);
  background-color: transparent;
  color: rgba(242, 182, 0, 0.6);
  cursor: not-allowed;
}

.btn-sec-icn {
  border: 0px 0px 0px 1px inset #F2B600;
  background-color: transparent;
  color: #F2B600;
}

.btn-sec-icn:hover, .btn-sec-icn:active {
  border: 0px 0px 0px 1px inset #F2B600;
  background-color: rgba(255, 197, 19, 0.16);
  color: #F2B600;
}

.btn-sec-icn:focus {
  border: 0px 0px 0px 1px inset #F2B600;
  background-color: rgba(255, 197, 19, 0.3);
  color: #F2B600;
}

.btn-sec-icn-dis {
  border: 0px 0px 0px 1px inset rgba(242, 182, 0, 0.6);
  background-color: transparent;
  color: rgba(242, 182, 0, 0.6);
}

.btn-tet {
  border: none;
  background-color: transparent;
  color: #F2B600;
}

.btn-tet:hover, .btn-tet:active {
  border: none;
  background-color: rgba(255, 197, 19, 0.16);
  color: #F2B600;
}

.btn-tet:focus {
  border: none;
  background-color: rgba(255, 197, 19, 0.3);
  color: #F2B600;
}

.btn-tet-dis {
  border: none;
  background-color: transparent;
  color: rgba(242, 182, 0, 0.6);
  cursor: not-allowed;
}

.btn-tet-icn {
  border: none;
  background-color: transparent;
  color: #F2B600;
}

.btn-tet-icn:hover, .btn-tet-icn:active {
  border: none;
  background-color: rgba(255, 197, 19, 0.16);
  color: #F2B600;
}

.btn-tet-icn:focus {
  border: none;
  background-color: rgba(255, 197, 19, 0.3);
  color: #F2B600;
}

.btn-tet-icn-dis {
  border: none;
  background-color: transparent;
  color: rgba(242, 182, 0, 0.6);
}

.hd-scroll {
  -webkit-box-shadow: 0px 1px 28px 0px rgba(60, 64, 67, 0.3);
          box-shadow: 0px 1px 28px 0px rgba(60, 64, 67, 0.3);
  background-color: #fff;
  position: absolute;
}

.nv-scroll {
  padding: 12px 20px;
}

.lg-scroll {
  color: #c69963 !important;
}

.a-clr {
  color: black !important;
}


main {
  height: 560px;
  background-image: url(../img/one.jpg);
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

main::before {
  position: absolute;
  content: "";
  background: rgba(92, 92, 92, 0.2);
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    height: 480px;
  }
  main .main {
    padding: 0px 24px !important;
  }
  main .main-cta {
    max-width: 366px !important;
  }
  main .main-cta p#h3 {
    font-weight: 400;
    font-size: 33px;
    letter-spacing: 0.25px;
    line-height: 36px;
    text-transform: none;
  }
  main .main-food {
    position: absolute !important;
    right: 40px !important;
    bottom: 32px !important;
  }
}

@media (max-width: 414px) {
  main {
    height: 560px;
  }
  main::before {
    background: rgba(92, 92, 92, 0.29);
  }
  main .main {
    padding: 0px 12px !important;
  }
  main .main-cta {
    max-width: 288px !important;
  }
  main .main-cta p#h3 {
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: none;
  }
  main .main-food {
    position: absolute !important;
    right: 24px !important;
    bottom: 24px !important;
  }
}

main .main {
  max-width: 1200px;
  width: 100%;
  padding: 0px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

main .main-cta {
  max-width: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-cta p {
  color: white;
}

main .main-cta-srch {
  width: 288px;
  background-color: white;
  padding: 12px 16px;
  margin-top: 16px;
  border: 1px solid #c69963;
}

main .main-cta-srch:focus-within {
  -webkit-box-shadow: 0px 0px 0px 1px inset #c69963;
          box-shadow: 0px 0px 0px 1px inset #c69963;
}

main .main-cta-srch-form {
  width: 100%;
}

main .main-cta-srch-form-box {
  width: 100%;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-cta-srch-form-box-fild {
  width: 224px;
}

main .main-cta-srch-form-box-icn {
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-cta-srch-form-box-icn svg {
  stroke: black;
  width: 16px;
  height: 16px;
  stroke-width: 1.5;
}

main .main-food {
  width: 178px;
  height: 64px;
  position: absolute;
  right: 64px;
  bottom: 64px;
}

main .main-food-name {
  color: #c69963;
}

main .main-food-shop {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-food-shop-pic {
  background-color: #c69963;
  width: 32px;
  height: 32px;
}

main .main-food-shop-name {
  margin-left: 8px;
  color: white;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .category-box {
    padding: 24px 24px !important;
  }
  .category-box-group-contain {
    padding: 0px 12px;
  }
  .category-box-group-contain-prev, .category-box-group-contain-next {
    padding: 7px !important;
    top: 14px !important;
  }
  .category-box-group-contain-prev {
    left: -8px !important;
  }
  .category-box-group-contain-next {
    right: -8px !important;
  }
}

@media (max-width: 414px) {
  .category-box {
    padding: 20px 12px 16px 12px !important;
  }
  .category-box-name {
    margin-bottom: 12px !important;
  }
  .category-box-group-contain {
    padding: 0px 8px;
  }
  .category-box-group-contain-prev {
    left: -4px;
  }
  .category-box-group-contain-next {
    right: -4px;
  }
}

.category-box {
  padding: 0px 32px 40px 32px;
  max-width: 1200px;
  width: 100%;
}

.category-box-name {
  margin-bottom: 16px;
}

.category-box-name-cat {
  color: black;
}

.category-box-group-contain-glider-card {
  height: 60px !important;
  width: 92px !important;
  min-width: 92px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/one.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
  cursor: pointer;
  margin-right: 16px;
}

.category-box-group-contain-glider-card:nth-last-child() {
  margin: 0;
}

.category-box-group-contain-glider-card:hover {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
}

.category-box-group-contain-glider-card-bgblur {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(92, 92, 92, 0.8);
  z-index: -1;
}

.category-box-group-contain-glider-card-text {
  color: white;
}

.category-box-group-contain-prev, .category-box-group-contain-next {
  padding: 11px !important;
  border-radius: 50px;
  font-size: 0px;
  top: 10px !important;
}

.category-box-group-contain-prev svg, .category-box-group-contain-next svg {
  stroke: black;
  width: 16px;
  height: 16px;
  stroke-width: 2;
}

.category-box-group-contain-prev {
  left: -20px;
}

.category-box-group-contain-next {
  right: -20px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .filter {
    margin-bottom: 32px;
  }
  .filter-box {
    padding: 0px 24px !important;
  }
}

@media (max-width: 414px) {
  .filter {
    margin-bottom: 24px;
  }
  .filter-box {
    padding: 0px 12px !important;
  }
}

.filter-box {
  padding: 0px 32px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-box-btn {
  padding: 11px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.filter-box-btn:hover, .filter-box-btn:active, .filter-box-btn:focus {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.filter-box-btn-icn {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-box-btn-icn svg {
  stroke: black;
  width: 16px;
  height: 16px;
  stroke-width: 1.5;
}

.filter-box-srch {
  margin-left: 8px;
  max-width: 672px;
  width: 100%;
  background-color: white;
  padding: 12px 16px;
  border: 1px solid black;
}

.filter-box-srch:focus-within {
  -webkit-box-shadow: 0px 0px 0px 1px inset black;
          box-shadow: 0px 0px 0px 1px inset black;
}

.filter-box-srch-form {
  width: 100%;
}

.filter-box-srch-form-box {
  width: 100%;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-box-srch-form-box-fild {
  max-width: 604px;
  width: 100%;
}

.filter-box-srch-form-box-btn {
  background: none;
  cursor: pointer;
  margin-left: 16px;
}

.filter-box-srch-form-box-btn-icn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-box-srch-form-box-btn-icn svg {
  stroke: black;
  width: 16px;
  height: 16px;
  stroke-width: 1.5;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .products {
    margin-bottom: 40px !important;
  }
  .products-box {
    padding: 0px 24px !important;
  }
  .products-box-title p#h4 {
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: none;
  }
  .products-box-grid {
    gap: 24px 24px !important;
  }
  .products-box-grid-card {
    max-width: 348px !important;
    width: 100% !important;
  }
  .products-box-grid-card-img {
    height: 232px !important;
  }
  .products-box-grid-card-logo {
    width: 44px !important;
    height: 44px !important;
  }
  .products-box-btn {
    margin-top: 32px !important;
  }
}

@media (max-width: 414px) {
  .products {
    margin-bottom: 32px !important;
  }
  .products-box {
    padding: 0px 12px !important;
  }
  .products-box-title p#h4 {
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.15px;
    line-height: 24px;
    text-transform: none;
  }
  .products-box-grid {
    gap: 26px 0px !important;
  }
  .products-box-grid-card {
    max-width: 90% !important;
    width: 351px !important;
  }
  .products-box-grid-card-img {
    height: 216px !important;
  }
  .products-box-grid-card-logo {
    width: 44px !important;
    height: 44px !important;
  }
  .products-box-btn {
    margin-top: 24px !important;
  }
}

.products-box {
  padding: 0px 32px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-box-title {
  margin-bottom: 10px;
}

.products-box-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px 18px;
}

.products-box-grid-card {
  position: relative;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
  max-width: 250px;
  width: 250px;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 15px;
}

.products-box-grid-card:hover {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
}

.products-box-grid-card-img {
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: right;
  border-radius: 15px 15px 0px 0px;
}

.products-box-grid-card-name {
  padding: 20px;
}

.products-box-grid-card-name-btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 11px;
  background-color: #F2F2F2;
  color: black;
  border: 1px solid #F2F2F2;
}

.products-box-grid-card-name-btn:hover, .products-box-grid-card-name-btn:active, .products-box-grid-card-name-btn:focus {
  background-color: #F2F2F2;
  color: black;
  border: 1px solid #F2F2F2;
}

.products-box-grid-card-name-btn-icn {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-box-grid-card-name-btn-icn svg {
  stroke: black;
  width: 16px;
  height: 16px;
  stroke-width: 1.5;
  fill: black;
}

.products-box-grid-card-logo {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #c69963;
}

.products-box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.products-box-btn-one {
  padding: 7px 11px;
}

.products-box-btn-two {
  padding: 7px 11px;
  margin-left: 12px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: black;
}

footer .footer {
  padding: 0px 20px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 640px) {
  footer .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top-links {
    margin: 16px 0;
  }
}

@media (max-width: 414px) {
  footer .footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-top-brnd {
    margin-right: auto;
  }
  footer .footer-top-links {
    margin: 16px auto 16px 0;
  }
  footer .footer-top-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top-links ul li {
    margin: 0 0 8px 0;
  }
  footer .footer-top-links ul li:nth-of-type(4) {
    margin: 0;
  }
  footer .footer-top-social {
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  footer .footer-top-brnd-name {
    font-size: 24px;
  }
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  border-bottom: 1px solid white;
}

footer .footer-top-brnd-name {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 700;
  color: #c69963;
}

footer .footer-top-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top-links ul li {
  margin-right: 24px;
}

footer .footer-top-links ul li:nth-of-type(4) {
  margin: 0;
}

footer .footer-top-links ul li a {
  color: white;
}

footer .footer-top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top-social-one, footer .footer-top-social-two {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-top-social-one svg, footer .footer-top-social-two svg {
  stroke: black;
  width: 16px;
  height: 16px;
  stroke-width: 1.5;
}

footer .footer-top-social-two {
  margin-left: 16px;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

footer .footer-bottom-copy-text {
  color: white;
}

[data-scroll] {
  -webkit-transition: all 1s;
  transition: all 1s;
}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}

#description {
  font-size: 12px;
  margin: 10px 0px 10px 0px;
}

#price {
  font-size: 18px;
  font-weight: 600px;
}

.products-box-category-title {
  margin: 0px 0px 10px 10px;
  font-size: 20px;
}

.products-box-grid-card-btn .btn.btn-sec {
    padding: 11px 15px;
    border-radius: 0px 0px 0px 15px;
    width: 55%;
    float: left;
}

.products-box-grid-card-btn .btn.btn-pri {
    padding: 11px 15px;
    border-radius: 0px 0px 15px 0px;
    width: 45%;
    float: right;
}
