{% extends  'app/dashboard_link.html' %}
{% load static %}

{% block content %}

<section style="margin-bottom:200px;" id="contact" class="section-wrapper contact-section" data-stellar-background-ratio="0.5">
	<div class="parallax-overlay"></div>
		<div class="container">

				<div class="contact-details">
					<!-- Contact Form -->
					<div class="contact-form wow bounceInRight">
						<div class="col-md-12">
                            <div class="col-md-6 custom-sec-img wow fadeInDown">
                                <img src="{{item.imageURL}}" alt="Custom Image">
                            </div>
							<div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white col-md-6">
							
                                <div style="margin-top:20px;margin-bottom:20px;" class="container">
                                    <p><b>Title: </b>{{item.name}}</p>
                                    <hr>
                                    <p><b>Author: </b>{{item.author}}</p>
                                    <hr>
                                    <p><b>Isbn: </b>{{item.isbn}}</p>
                                    <hr>
                                    <p><b>Category: </b>
                                        {% for cat in item.category.all %}
                                        {{cat}},
                                        {% endfor %}
                                    </p>
                                    <hr>
                                    <p><b>{{item.description|safe}}</b></p>
                                    <hr>
                                
							</div>
                        </div>
					</div>
					</div>

			</div>
		</div>
	</div>
	</section>

	{% endblock %}