{% extends 'app/dashboard_link.html' %}
{% load static %}
{% block content %}

<style>
#user_prof_pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background: #f5f5f5; }
  #user_prof_pic img {
    border-radius: 50%;
    display: block;
    min-width: 250px;
    height: 100%;
    object-fit: cover;
}
</style>
<section  style="margin-top: 100px; margin-bottom:100px;"> 
<div class="u-s-p-b-60">

    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    {% include 'app/dash-include.html' %}
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14"><b>Dashboard</b></h1>

                                <span class="dash__text u-s-m-b-30">From your Dashboard you can view order details and manage  your profile.</span>
                                <div class="row">
                                    <div class="col-lg-6 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">PERSONAL PROFILE</h2>
                                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                                    <a href="{% url 'update-profile' %}">View</a></div>

                                                <span class="dash__text"><b>Username: </b>{{request.user.username}}</span>
                                                <span class="dash__text"><b>Email: </b> {{request.user.email}}</span>
                                                <span class="dash__text"><b>Passport No: </b> {{user_profile.passport_no}}</span>
                                                <span class="dash__text"><b>Nationality: </b> {{user_profile.nationality}}</span>
                                                <span class="dash__text"><b>Phone: </b> {{user_profile.phone}}</span>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 u-s-m-b-30">
                                            <div class="description__container">
                                                <div id="user_prof_pic">

                                                    <img class="row-image" src="{{user_profile.imageURL}}" alt=""></div>
                                            </div>
                                    </div>

                                    <div class="col-lg-4 u-s-m-b-30">
                                </div>
                            </div>
                        </div>
                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                            <h2 class="dash__h2 u-s-p-xy-20"><b> RECENTLY ISSUED BOOKS</b></h2>
                            <div class="dash__table-wrap gl-scroll">
                                <table class="dash__table">
                                    <thead>
                                        <tr>
                                            <th>Id #</th>
                                            <th>Status</th>
                                            <th>Issued</th>
                                            <th>Issued Date</th>
                                            <th>Ordered date</th>
                                            <th>Expiry Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in recent_orders %}
                                        <tr>
                                            <td>{{order.id}}</td>
                                            {% if order.get_status_display == "Accepted" %}
                                            <td><span class="manage-o__badge badge--shipped">Accepted</span></td>
                                            {% elif order.get_status_display == "Cancelled" %}
                                            <td><span class="manage-o__badge badge--delivered">Cancelled</span></td>
                                            {% else %}
                                            <td><span class="manage-o__badge badge--processing">Processing</span></td>
                                            {% endif %}
                                            {% if order.issued == True %}
                                            <td><span class="manage-o__badge badge--shipped">True</span></td>
                                            {% else %}
                                            <td><span class="manage-o__badge badge--delivered">false</span></td>
                                            {% endif %}
                                            <td>{{order.issued_date}}</td>
                                            <td>{{order.ordered_date}}</td>
                                            <td>{{order.expiry_date}}</td>
                                            <td>
                                                    <div class="dash__link dash__link--brand">

                                                        <a href="{% url 'order-detail' order.id %}">VIEW</a></div>
                                                </div>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}