       {% extends 'app/dashboard_link.html' %}
       {% load static %}
       {% block content %}

       <section  style="margin-top: 100px; margin-bottom:100px;">      
            <div class="u-s-p-b-60">
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                {% include 'app/dash-include.html' %}
                                <div class="col-lg-9 col-md-12">
                                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <div class="manage-o__text-2 u-c-secondary">Order #{{single_order.id}}</div>
                                                    <hr>
                                                    <div class="manage-o__text u-c-silver">Placed on {{single_order.ordered_date}}</div>
                                                    <hr>
                                                    {% if single_order.get_status_display == "Accepted" %}
                                                    <div class="manage-o__text u-c-silver">you have {{days_left}} day(s) left to return these issued books</div>
                                                    <div class="manage-o__text u-c-silver">Valid until {{single_order.expiry_date}}</div>
                                                    {% endif %}
                                                </div>
                                                {% if single_order.get_status_display %}
                                                <div>
                                                        {% if single_order.get_status_display == "Processing" %}
                                                        <div class="dash__link dash__link--brand">
                                                            <a href="{% url 'cancel-order' single_order.id %}">Cancel Order</a></div>
                                                        {% else %}
                                                        <span class="dash__text-2"></span>
                                                        {% endif %}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
        


                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="manage-o__icon"><i class="fa fa-box u-s-m-r-5"></i>

                                                        <span class="manage-o__text">Order Status</span></div>
                                                        <hr>
                                                        
                                                        {% if request.user.is_staff %}
                                                        <form method="POST" enctype="multipart/form-data" class="dash-address-manipulation">
                                                            {% csrf_token %}
                                                            <div class="gl-inline">
                                                                <div class="u-s-m-b-30">
                                                                    {{form.status}}
                                                                </div>
                    
                                                            <button class="btn btn--e-brand-b-2" type="submit">UPDATE STATUS</button>
                                                        </form>
                                                        {% endif %}
                                                </div>

                                                    {% if single_order.get_status_display == "Processing" %}
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <span class="manage-o__badge badge--processing">Processing</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% elif single_order.get_status_display == "Accepted" %}
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <span class="manage-o__badge badge--shipped">Accepted</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    {% elif single_order.get_status_display == "Cancelled" %}
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <span class="manage-o__badge badge--delivered">Cancelled</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% elif single_order.get_status_display == "Expired" %}
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <span class="manage-o__badge badge--delivered">Expired</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30">

                                                        <span class="manage-o__text">Books</span></div>
                                                </div>
                                                {% for order_item in single_order.books.all %}
                                                <div class="manage-o__description">
                                                    <div class="description__container">
                                                        <div class="description__img-wrap">

                                                            <img class="row-image" src="{{order_item.book.imageURL}}" alt=""></div>
                                                        <div class="description-title">{{ order_item.book.name }}</div>
                                                    </div>
                                                    <div class="description__info-wrap">
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">{{order_item.quantity}}</span></span></div>
                                                        <div>

                                                    </div>
                                                </div>
                                                {% endfor %}
                                        </div>
                                    </div>
                                    
                                </div> -->
                                <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30">

                                                        <span class="manage-o__text">Books</span></div>
                                                </div>
                                                <table class="table-p">
                                                    <tbody>
                                                        {%for order_item in single_order.books.all %}
                                                        <tr>
                                                            <td>
                                                                <div class="table-p__box">
                                                                    <div class="table-p__img-wrap">

                                                                        <img class="u-img-fluid" src="{{order_item.book.imageURL}}" alt=""></div>
                                                                    <div class="table-p__info">

                                                                        <span class="table-p__name">
                                                                                <p><b>{{ order_item.book.name }}</b></p>
                                                                            </span>
                                                                    </div>
                                                                    <div class="table-p__info">

                                                                        <span class="table-p__name">
                                                                                <p><b>x{{ order_item.quantity }}</b></p>
                                                                            </span>
                                                                    </div>

                                                                </div>
                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
    </section>

    
{% endblock content %}